html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    max-width: 600px;
    margin:  30vh auto;
    background-color: #142d4c;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.palindrome-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #142d4c, #113f67);
    padding: 30px;
    border-radius: 20px;
    box-shadow: #113f67 -3px 5px 5px;
}

label {
    font-size: 1.2rem;
}

input {
    border: solid 3px #142d4c;
    background-color: #142d4c;
    color: white;
    height: 30px;
    margin-right: 10px;
    opacity: 0.5;
    border-radius: 10px;
    box-shadow: #142d4c 3px -5px 5px;
}

button {
    border-radius: 10px;
    width: 90px;
    height: 30px;
    background-color: #142d4c;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    box-shadow: #113f67 -2px 2px 5px;
}

button:hover {
    cursor: pointer;
}

#result {
    margin-top: 30px;
    font-size: 1.4rem;
}

.info {
    margin-top: 30px;
    background-color: #77ff77;
    border-radius: 20px;
}

#info-text {
    text-align: center;
    font-size: 1.4rem;
    color: black;
    padding: 15px;
}

@media (max-width: 600px) {
    body {
        max-width: 400px;
    }
}